# Estrutura de Repetição

# For

In [ ]:
# For Range
for contador in range(10):
  print(contador)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# For Range + Break
for contador in range(1000):
  print(contador)
  if contador == 2:
    break

0
1
2

In [ ]:
lista = ['Teste1','Teste2']

In [ ]:
# For Simples
for val in lista:
  print(val)

Teste1
Teste2

In [ ]:
# For com Enumarate
for i, val in enumerate(lista):
  print(i, val)

0 Teste1
1 Teste2

# For com operadores compostos

In [ ]:
lista2 = [2,3,4]

In [ ]:
for val in lista2:
  val += 1
  print(val)

3
4
5

In [ ]:
for val in lista2:
  val *= 2
  print(val)

4
6
8

# While

In [ ]:
val = 1
while (val < 6):
  val *= 2
  print(val)

2
4
8

In [ ]:
# While com else
val = 4
while (val < 10):
  val *= 2
else:
    print('Valor de val é:', val)

Valor de val é: 16